/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

:root {
	--primary-color: #1BB139;
	--border-color: #E5E5E5;
	--font-family: Consolas, serif;
	--radius: 3px;
}

body {
	font-family: var(--font-family);
	font-size: 16px;
}

h1 {
	margin-bottom: 25px;

	font-size: 30px;
	font-weight: bold;
}

.container {
	max-width: 640px;
	margin: 50px auto;
}

.form-wrap {
	display: flex;
	justify-content: space-between;
}

.input {
	width: 82%;
	height: 40px;
	padding: 0 25px;

	font-family: var(--font-family);
	font-size: 14px;
	border: 2px solid #CFCFCF;
}

.btn {
	width: 14%;
	height: 40px;
	
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	text-align: center;
	border-radius: var(--radius);
}

.btn:hover {
	user-select: none;
	cursor: pointer;
}

.todo-list {
	margin-top: 40px;
}

.todo-list li {
	position: relative;
	user-select: none;
	
	min-height: 45px;
	line-height: 45px;

	padding-left: 25px;
	margin-bottom: 16px;

	border: 2px solid var(--border-color);
	border-radius: var(--radius);

	animation-name: move;
	animation-duration: 1s;
}

.done {
  text-decoration: line-through;
}

.delete {
	width: 15px;
	height: 15px;

	border-radius: var(--radius);
	background-color: red;
	
	position: absolute;
	right: 15px;
	top: 15px;
}

.delete:hover {
	cursor: pointer;
}

@keyframes move {
	0% {
		transform: translateY(15px);
	}	
	100% {
		transform: translateY(0px);
	}
}